.kana-keyboard-container{
    background-color: #1c1f25;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0 16px;
    margin: 20px;
}

.placeholder{
    color: rgb(94, 94, 94);
    opacity: 0.6;
}