@import './variables.css';

.word-container{
    /* background-color: green; */
    height: 5em;
    padding-top: 0;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.hiragana-container{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.katakana-container{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-bottom: 10px; */
}

p{
    font-size: 1.5em;
    text-align: center;
    color: var(--kgGray);
    padding-top: 20px;
}